<html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="logged.css" type="text/css">
    <script src="logged.js" defer></script>
</head>
<body>
<div class="background-image"></div>
<div class="main">
    <h1 class="main-text">Logged in as <%= user.username %></h1>
    <span>
        <input type="checkbox" checked="<%= obj.snipable %>" name="snipe" id="snipe"> Do you want to be snipable?
    </span>
    <div class="logout-button">
        <button class="logout" id="logout">Logout!</button>
    </div>
</div>
</body>
</html>
</html>